.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus{outline:none;}
.slides,
.flex-control-nav,
.flex-direction-nav{margin:0;padding:0;list-style:none;}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden;}
.flexslider .slides img{width:100%;display:block;}
.flex-pauseplay span{text-transform:capitalize;}
.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides{display:block;}
* html .slides{height:1%;}
.no-js .slides > li:first-child{display:block;}
.flexslider{border:0px;position:relative;zoom:1;}
.flex-viewport{max-height:700px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;z-index:-11;}
.loading .flex-viewport{max-height:300px;}
.flexslider .slides{zoom:1;}
.carousel li{margin-right:5px;}
.flex-direction-nav{*height:0;}
.flex-direction-nav a{width:16px;height:16px;margin:0;display:block;position:absolute;top:-160%;z-index:10;cursor:pointer;text-indent:-9999px;opacity:1;-webkit-transition:all .3s ease;}
.flex-direction-nav .flex-next{background-position:-36px -6px;right:122%;top:-120%;}
.flex-direction-nav .flex-prev{left:-24.2%;}
.flexslider:hover .flex-next{opacity:1;}
.flexslider:hover .flex-prev{opacity:1;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;}
.flex-direction-nav .flex-disabled{opacity:.3!important;filter:alpha(opacity=30);cursor:default;}
.flex-control-nav{display:block;position:absolute;right:-14%;margin-left:0px;top:30%;}
.flex-control-nav li{margin:4em 0 0;display:block;zoom:1;position:relative;}
.flex-control-paging li a{width:22px;height:22px;display:block;background:none;cursor:pointer;border:none;color:#212121;background:#fff;text-align:center;border-radius:15px;font-weight:600;font-size:.8em;line-height:1.9em;display:none;}
.flex-control-paging li a.flex-active{background:#ec2f57;cursor:default;color:#fff;transform:rotateX(360deg);-webkit-transform:rotateX(360deg);-moz-transform:rotateX(360deg);-o-transform:rotateX(360deg);-ms-transform:rotateX(360deg);transition:transform 2s;}
.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden;}
.flex-control-thumbs li{width:25%;float:left;margin:0;}
.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer;}
.flex-control-thumbs img:hover{opacity:1;}
.flex-control-thumbs .flex-active{opacity:1;cursor:default;}
@media screen and (max-width:1366px){.flex-control-nav{right:-15%;}
}
@media screen and (max-width:1280px){.flex-control-nav{right:-8%;}
}
@media screen and (max-width:1080px){.flex-control-nav{top:18%;}
.flex-direction-nav .flex-next{right:121.5%;top:-80%;}
.flex-direction-nav a{top:-115%;}
}
@media screen and (max-width:736px){.flex-control-paging li a{width:20px;height:20px;font-size:.7em;line-height:2em;}
}
@media screen and (max-width:568px){.flex-direction-nav .flex-next{right:105.5%;}
.flex-control-paging li a{padding-top:0;margin-top:-4em;}
}
@media screen and (max-width:480px){section.slider{padding-top:0%;}
.flexslider{padding:0px 0px;}
}
@media screen and (max-width:414px){.flex-direction-nav .flex-next{right:101.5%;}
}
@media screen and (max-width:384px){.flex-control-paging li a{width:18px;height:18px;}
}
@media screen and (max-width:320px){section.slider{padding-top:0%;}
.flex-direction-nav .flex-prev{left:-7.2%;}
.flex-control-nav li:first-child:before{left:-25%;}
.flex-control-paging li a{width:15px;height:15px;font-size:.6em;}
.flex-control-nav{right:-26%;}
}