<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <base href="{{_BASE}}">
  <title>Example</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bare-css@2.0.3/css/bare.min.css">
  <!--
  <meta name="keywords" content="">
  <link rel="icon" href="images/favicon.png">
  -->
</head>
<body style="display: flex; flex-flow: column; height: 100%">
  <nav>
    <label>
      <input type="checkbox">
      <header>
        <!-- you can leave this empty if you don't want a title -->
        <a><!--<img src="img/bareCSS.svg">-->Evolvit CMS</a>
      </header>
      
      <ul>
        <li><a href="index">Home</a></li>
        <li>
          <a>Posts</a>
          <menu>
          {% for item in fetch("Post") if item.Publish == 'true' %}
            <menuitem><a href="post/{{item.Slug}}">{{item.Title}}</a></menuitem>
          {% endfor %}
          </menu>
        </li>
      </ul>
    </label>
  </nav>

<section style="flex:1; overflow:auto;">
  {% block content %}{% endblock %}
</section>

  <footer>
    <grid>		
      <div col="1/1" style="text-align: center">
        <p>
          <a att href="https://github.com/vujovicigor/evolvitcms" target="_blank">
            github.com/vujovicigor/evolvitcms
          </a>
        </p>
      </div>
    </grid>
  </footer>

</body>
</html>
